@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&family=Montserrat:wght@100;200;300;400;500;600;700;900&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');



*, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.Container {
    background-color: blue;
    height: 100vh;
    font-size: 90%;
}

.Container header {
    margin-left: 25px;
    color: white;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 5px 0;
}

.A {
    height: 80vh;
    background-color: #F3F3F3;
    display: flex;
    gap: 10px;
}

.B {
    display: flex;
    flex-direction: column;
}

.B button {
    margin: 0.5em 10px 0.5em 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: bold;
    color: white;
    background-color: rgb(0, 170, 255);
    outline: none;
    border: none;
}

.A1 {
    margin: 0.5em 10px 0.5em 10px;
    padding: 10px;
    text-align: center;
    background-color: rgb(0, 170, 255);
    border: navajowhite;
    color: white;
    font-weight: bold;
    font-size: 13px;
}

.A1 option {
    padding: 10px;
    background-color: white;
    color: black;
}

.B1 {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 1em;
}

.Belanja {
    margin-left: 5px;
    height: 60vh;
    border: 1px solid #000000;
    width: 390px;
    overflow-y: scroll;
    padding: 5px;
}

.Belanja .Barang {
    margin-bottom: 3px;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Barang .normal {
    font-size: smaller;
}

.Barang img {
    max-width: 20px;
}

.Barang button {
    padding: 0;
    background-color: transparent;
    color: black;
    cursor: pointer;
    transition: transform ease-in-out 0.3;
}

.Barang button:hover {
    color: rgb(205, 33, 33);
    transform: scale(1.1);
}

.Barang button span {
    font-size: 30px;
}

.Jajan {
    padding: 2em 1em 0 1em;
    color: black;
    font-size: 12px;
    background-color: white;
    margin: 6px;
    width: 100%;
}

.pay {
    font-size: 12px;
    background-color: rgb(0, 170, 255);
    padding: 2px;
    color: white !important;
    display: flex;
    justify-content: space-between;
}

.kanan {
    width: 1200px;
    margin-right: 5px;
}

.kanan nav {
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    background-color: white;
    align-items: center;
}

.kanan nav .nav_kanan span {
    font-size: 27px;
}

.kanan nav .nav_kanan {
    display: flex;
    align-items: center;
}

.kanan nav .nav_kanan input {
    padding: 5px;
}

#sortByName, #searchIcon {
    cursor: pointer;
    position: relative;
    padding-bottom: 2px;
    transition: color 0.3s ease-in-out, transform 0.3 ease-in-out;
}

#sortByName:hover, #searchIcon:hover {
    border-bottom: 1px solid rgb(0, 0, 0);
}

.kanan section {
    border: 1px solid #000000;
    height: 72vh;
    overflow-y: scroll;
}

.kanan section .product .foto img {
    width: 85%;
    margin: 5px;
    height: 10vh;
    border: 1px solid #000000;
}

.kanan section .product {
    margin: 10px;
    margin-left: 17px;
    margin-bottom: 20px;
    border: 1px solid #000000;
    width: 130px;
    height: 133px;
    text-align: center;
    float: left;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.kanan section .product:hover {
    transform: translateY(5px);
}

.kanan section .product p {
    font-size: 12px;
    margin-bottom: 5px;
    font-weight: 500;
    font-family: Georgia, 'Merriweather', Times, serif;
    color: rgb(77, 71, 71);
}

.kanan section .product h1 {
    font-size: 15px;
    width: 100%;
    border-top: 1px solid #aaa;
    padding-top: 2px;
    font-family: 'Times New Roman', serif;
    color: rgb(0, 170, 255);
}

.payment {
    height: 8vh;
    background-color: white;
    position: relative;
}

.payment button {
    position: absolute;
    right: 20px;
    padding: 10px 2%;
    gap: 10px;
    outline: none;
    border: none;
    background-color: rgb(0, 170, 255);
    display: flex;
    align-items: center;
}

.container footer {
    color: white;
    padding-left: 10px;
    padding-top: 5px;
    font-size: small;
}

html::-webkit-scrollbar {
    display: none;
}

section::-webkit-scrollbar {
    display: none;
}

@media print {
    body {
        visibility: hidden;
    }
    #section-to-print {
        visibility: visible;
        position: relative;
        left: 0;
        top: 0;
    }
}